.footer {
  background-color: #092348;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}
.item {
  list-style: none;
  overflow: hidden;
  margin: 0%;
  padding: 5px;
  text-align: center;
}
.item li {
  display: inline-block;
  padding: 5px;
}
