.app {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #0e2d59;
  color: #ffffff;
}
.app a {
  text-decoration: none;
  color: #dfcb1a;
}
