.link {
  color:darkcyan;
  float: left;
  display: block;
  padding:16px;
  text-align: center;
  text-decoration: none;
}
.link:hover{
  background-color: #0C4CA6;
}
.link a {
  text-decoration: none;
}
.nav {
  background-color: #0b3e85;
}
.list {
  list-style-type: none;
  overflow: hidden;
  margin:0%;
  padding:0;
}
.login{
}